.TopArea{
    height: 180px;
}
.SegmentText{
    font-size: 12px;
}
.MenuContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: hidden;
}
.MenuSlider{
    display: flex;
    width: 500vw;
    padding: 10px;
}
.MenuSlide{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.MenuText{
    width: 70vw;
}
.MenuChangeText{
    width: 70vw;
    color: gray;
    font-size: 10px;
}