.TopArea{
  height: 180px;
}
.restaurant{
    margin-bottom: 20px;
}
.SegmentText{
    font-size: 12px;
}
.MenuContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    overflow: hidden;
}
.MenuSliderOutside{
    width: 100vw;
    overflow: hidden;
}
.MenuSlider{
    display: flex;
    width: 300vw;
    padding: 10px;
    align-items: center;
}
.MenuSlideOutside{
    width: 100vw;
    display: flex;
    justify-content: center;

}
.MenuChangeText{
    width: 70vw;
    color: gray;
    font-size: 10px;
}